@import "tailwindcss";

/* Iske neeche aapka purana scrollbar aur baki ka custom code jaisa tha waisa hi rahega */
body {
  background-color: #111111;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #111111;
}
::-webkit-scrollbar-thumb {
  background: #0A1F44;
  border: 2px solid #D4AF37;
  border-radius: 4px;
}